<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858396479574-mpc4stt2vg5e39h5ctandsepschl7nbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858396479574-mpc4stt2vg5e39h5ctandsepschl7nbd</string>
	<key>API_KEY</key>
	<string>AIzaSyBmcaLvHg9PpNi7cwcZK4h2k6ZpjusCnqk</string>
	<key>GCM_SENDER_ID</key>
	<string>858396479574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CarlosPadron.Gluco</string>
	<key>PROJECT_ID</key>
	<string>gluco-87a10</string>
	<key>STORAGE_BUCKET</key>
	<string>gluco-87a10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858396479574:ios:99126fdc61d997bdb76bf7</string>
	<key>DATABASE_URL</key>
	<string>https://gluco-87a10.firebaseio.com</string>
</dict>
</plist>